body {
    font-family: 'Roboto Mono', monospace!important;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Oswald', sans-serif;
}

.swiper{
    overflow: visible!important;
}

.swiper-pagination-bullet{
    background:#fff!important;
}
.swiper-horizontal>.swiper-pagination-bullets{
    bottom: -40px!important;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Opera and Firefox */
  }